<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
         <div class="todo-app">
            <h2>To-Do App<img src="{{ url_for('static', filename='img/logo.png')}}" alt="logo"></h2>
            <div class="row">
                <input type="text" id="input-box" placeholder="Add an item">
                <button onclick="addTask()">Add</button>
            </div>
            <ul id="list-container">
                <!-- <li class="checked">Item1</li>
                <li>Item2</li>
                <li>Item3</li> -->
            </ul>
         </div>
    </div>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>